{% extends "layout.html" %}
{% block main %}
<h1>Quick references/Usage Principles:</h1>
<div class="container col-lg-6">
        <ol>
            <li>Make sure your account is good to go!</li>
            <li>(Notes) Create a note by clicking the green button on the left.</li>
            <li>To edit a note, click it on the left to open it.</li>
            <li>To save a note, click it first, edit, then the blue "Save" button near the naming box.</li>
            <li>To delete a note, click the DELETE button (red)</li>
            <li>One last thing--You cannot name two notes the same thing!</li>
        </ol>
</div>

{% endblock %}
